* {
  box-sizing: border-box; }

html {
  height: 100%;
  background: #d4d4d4; }

#paletteHeader {
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 215px;
  padding-top: 10px; }

#paletteBox #palette {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 30px;
  height: 200px;
  width: 400px;
  background-color: white;
  border: 3px solid #bbbbbb;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start; }
  #paletteBox #palette div {
    height: 50px;
    width: 50px; }

#paletteBox #resetPalette {
  height: 30px; }

#singleColorContainer {
  margin: 50px; }
  #singleColorContainer #singleColorBox {
    color: white;
    background-color: grey;
    border: 3px solid white;
    height: 170px;
    width: 170px; }

#largePaletteContainer {
  margin: 50px; }
  #largePaletteContainer #largePaletteBox {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid white; }
  #largePaletteContainer .LPcolor {
    color: white;
    background-color: grey;
    flex: 1;
    min-height: 140px; }
